body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #111;
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    background: white;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
}